:root {
  --black: hsl(0, 0%, 7%);
  --grey: hsl(0, 0%, 50%);
  --white: hsl(0, 0%, 100%);
  --yellow: hsl(47, 88%, 63%);
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  align-items: center;
  background-color: var(--yellow);
  display: flex;
  font-family: "Figtree", sans-serif;
  justify-content: center;
  min-height: 100vh;
}

main {
  background-color: var(--white);
  border-radius: 20px;
  border: 1px solid var(--black);
  margin-left: auto;
  margin-right: auto;
  padding: 24px;
  position: relative;
  width: 327px;

  @media screen and (min-width: 1024px) {
    width: 384px;
  }
}

main::after {
  background-color: var(--black);
  border-radius: 20px;
  bottom: -8px;
  content: "";
  height: 100%;
  left: 8px;
  position: absolute;
  width: 100%;
  z-index: -10;
}

.blog-card-img {
  border-radius: 10px;
  height: 200px;
  object-fit: cover;
  margin-bottom: 12px;
}

.category {
  background-color: var(--yellow);
  border-radius: 4px;
  font-size: 12px;
  font-weight: 800;
  padding: 4px 12px;
  width: min-content;
}

.published-date {
  font-size: 12px;
  font-weight: 500;
}

.title {
  font-size: 20px;
  font-weight: 800;
  transition: .4s;

  &:hover {
    color: var(--yellow);
    cursor: pointer;
  }
}

.description {
  color: var(--grey);
  font-size: 14px;
  font-weight: 300;
  line-height: 18px;
}

.author-wrapper {
  align-items: center;
  display: flex;
}

.author-img {
  height: 32px;
  margin-right: 12px;
  width: 32px;
}

.author {
  font-weight: 700;
}


